<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Health_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{55,29}</string>
                <key>spriteSourceSize</key>
                <string>{59,29}</string>
                <key>textureRect</key>
                <string>{{59,1},{55,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Health_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,27}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{116,1},{56,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Health_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Health_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,27}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{174,1},{49,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Health_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,27}</string>
                <key>spriteSourceSize</key>
                <string>{49,29}</string>
                <key>textureRect</key>
                <string>{{225,1},{49,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Health.png</string>
            <key>size</key>
            <string>{275,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d08d3ab927496892f708d364f0f79008:2835f0bd3b85e739ab91b23434802209:91a3c6d912aa87e499242952c7c746ad$</string>
            <key>textureFileName</key>
            <string>Health.png</string>
        </dict>
    </dict>
</plist>
